[build]
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@netlify/blobs"]
  included_files = ["netlify/functions/*"]
  deno_import_map = "./import_map.json"

[functions."*"]
  runtime = "edge"
